<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lx.mapper.ExpenseRecordsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.lx.pojo.ExpenseRecords">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="type" property="type" />
        <result column="subtype" property="subtype" />
        <result column="amount" property="amount" />
        <result column="transaction_date" property="transactionDate" />
        <result column="supplier" property="supplier" />
        <result column="note" property="note" />
        <result column="receipt_url" property="receiptUrl" />
        <result column="created_at" property="createdAt" />
        <result column="record_type" property="recordType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, type, subtype, amount, transaction_date, supplier, note, receipt_url, created_at, record_type
    </sql>

</mapper>
